extend layout

block content
    .container
        h2 About
        p This is a simple hero unit, a simple jumbotron-style component This is a simple hero unit, a simple jumbotron-style component This is a simple hero unit, a simple jumbotron-style component This is a simple hero unit, a simple jumbotron-style component